body{
    background-color: rgba(70, 70, 164, 0.636);
}
i{
    padding: 10px;
}
.logoImage{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    padding: 10px;

}
li ul{
    display: inline;
    list-style: none;
    color: white;
    margin: 5px;
    padding: 10px;
    justify-items: center;
    align-items: center;
}
li:active{
    background-color: cornflowerblue;
}
header {
    display: inline-block;
    list-style: none;
    border: 1px solid black;
    justify-content: space-between;
    padding: 20px;  
    width:auto;
    
}
li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: black;
}
a{
     text-decoration: none;
     color: rgb(37, 28, 28);
     
}
header a:hover{
    background-color: rgb(48, 43, 43);
}
@media (max-width: 600px) {

    header {
        padding: 10px;
    }

    li {
        display: block;          /* stack vertically */
        text-align: center;
    }

    li a {
        display: block;          /* full clickable area */
        background-color: black;
    }
    .tipsImage{
    display: none;
}
    
}

.Maintitle{
    text-align: center;
}
.roadMapSection{
    padding: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.RBtn{
  padding: 20px;
  margin: 10px;
  color: black;
  border-radius: 20px;
  background-color: darkgray;
}
.RBtn:hover{
    background-color: rgb(65, 62, 62);
}
#roadMapH2 {
    text-align: center;
}

#roadMapList {
    list-style-type: none;
    
}

#roadMapList li {
    text-align: center;
}

.imageLearning {
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.para {
    width: 50%;
}
.learning-container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.blogs{
    margin: 10px;
    padding: 10px;
}
.TipsH1, .TipsPara{
    text-align: center;
}
.tips1Container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.para2{
  width: 50%;
}
.image2{
  width: 250px;
  height: 150px;
}
#TipsSection{
   background-color: cadetblue;
   padding: 50px;
   margin: 50px;
   border: 2px solid brown;
}

.tipsImage{
    width: 800px;
    height: auto;
}
#iconsContainer{
    padding: 30px;
    font-size: x-large;

}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(39, 13, 13);
    border-radius: 20px;
}
.Resourceslines{
    display: flexbox;
    gap: 10px;
    color: #000;
}
div h1{
    background-color: brown;
     border: 1px solid brown;
     padding: 10px;
     width:200px ;
     border-radius: 30px;
}

